html {
  box-sizing: border-box;
}

*,
::after::before {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

button {
  box-sizing: border-box;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  border-bottom: 1px #ECECEC solid;
  padding-top: 24px;
  padding-bottom: 25px;
}
.site-header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  padding: 32px 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}
.navigation__link::after {
  content: "";
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 500ms linear;
}
.navigation__link:hover::after {
  opacity: 1;
}

.actual {
  color: #2196F3;
}
.actual.navigation__link::after {
  opacity: 1;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo--accent {
  color: #2196F3;
}
.logo.footer__logo {
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 20px;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__link {
  color: #757575;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__item:not(:last-child) {
  margin-right: 40px;
}
.contacts.footer__contacts {
  flex-direction: column;
}
.contacts .footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contacts .footer__link:hover, .contacts .footer__link:focus {
  color: #2196F3;
}

.link-map {
  color: #FFFFFF;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.hero__header {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  width: 700px;
}

.btn {
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
  border: none;
  padding: 10px 32px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #FFFFFF;
  color: #2196F3;
}
.btn.footer__btn {
  margin-top: 0px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.footer__btn:hover, .btn.footer__btn:focus {
  transform: scale(1.05);
  background-color: #2196F3;
  color: #FFFFFF;
}
.btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn.portfolio__btn {
  background-color: #F5F4FA;
  color: #212121;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__item:not(:last-child) {
  margin-right: 8px;
}
.btn.portfolio__btn:hover, .btn.portfolio__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn.modal__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.modal__btn:hover, .btn.modal__btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  transform: scale(1.1);
}

.pluses {
  padding-bottom: 0;
}
.pluses__list {
  display: flex;
}
.pluses__icon-box {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.pluses__item {
  width: 270px;
}
.pluses__item:not(:last-child) {
  margin-right: 30px;
}
.pluses__header {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.pluses__text {
  font-size: 14px;
  line-height: 1.71;
}

.what-we-do__header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.what-we-do__list {
  display: flex;
}
.what-we-do__item {
  position: relative;
}
.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do__text-box {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.what-we-do__text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.team {
  background-color: #F5F4FA;
}
.team__header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__item {
  padding-bottom: 30px;
  background-color: var(--main-white-bgc);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.websites {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.websites__item:not(:last-child) {
  margin-right: 10px;
}
.websites__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.websites__link:hover, .websites__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.websites__icon {
  fill: currentColor;
}
.footer .websites__link {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .websites__link:hover, .footer .websites__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.clients__header {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: #AFB1B8 1px solid;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
.clients__icon {
  fill: currentColor;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2F303A;
  padding-top: 75px;
  padding-bottom: 45px;
}
.footer__wrap {
  display: flex;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.welcome {
  margin-left: 70px;
  margin-top: 12px;
}
.welcome__header {
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form {
  margin-right: 0;
  margin-left: auto;
  width: 570px;
  margin-top: 12px;
}
.footer-form__header {
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}
.footer-form__aline {
  display: flex;
  margin-top: 20px;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  outline: none;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:hover, .footer-form__input:focus-within {
  border-color: #2196F3;
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__icon {
  margin-left: 10px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
}
.examples__header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.examples__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
.examples__item {
  border: 1px #EEEEEE solid;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:not(:nth-last-of-type(-n+3)) {
  margin-bottom: 30px;
}
.examples__item:not(:nth-of-type(3n)) {
  margin-right: 30px;
}
.examples__item:hover, .examples__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__wrap {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.examples__overlay-box {
  position: relative;
  overflow: hidden;
}
.examples__overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}
.examples__item:hover .examples__overlay {
  transform: translateY(0);
}
.examples__overlay-text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.55;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0deg);
}

.modal {
  background-color: #FFFFFF;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text {
  color: #212121;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.modal__input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal__wrapper {
  position: relative;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus-within {
  border-color: #2196F3;
}
.modal__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus-within + .modal__icon {
  fill: #2196F3;
}
.modal__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__center-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  align-items: center;
}
.checkbox__link {
  color: #2196F3;
}
.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox__icon svg {
  fill: transparent;
}
.checkbox__input:checked + label > span {
  background-color: #2196F3;
  border: none;
}
.checkbox__input:checked + label > span svg {
  fill: #FFFFFF;
}

.close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  fill: #2196F3;
}/*# sourceMappingURL=main.css.map */