:root {
    --main-white-bgc: #FFFFFF;
    --main-bgc: #2F303A;
    --secondary-white-bgc: #F5F4FA;
    
    --accent-color: #2196F3;
    
    --logo-black: #000000;
    --main-black-text:  #212121;
    --main-white-text:  #FFFFFF;
    --main-text: #757575;
}

html {
    box-sizing: border-box;
}

*,
::after::before {
    box-sizing: inherit;
}

body {
    background-color: var(--main-white-bgc);
    color: var(--main-text);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,
h2,
h3 {
    color: var(--main-black-text);
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none; 
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    /* outline: 1px solid red; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

button {
    box-sizing: border-box;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* HEADER */

header {
    border-bottom: 1px #ECECEC solid;
    padding-top: 24px;
    padding-bottom: 25px;
}

.site-header .container {
    display: flex;
    align-items: center;
}

.navigation {
display: flex;
align-items: center;
}

.logo {
    color:var(--logo-black);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    margin-right: 93px;
}

.logo-accent {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;

}

.nav-list-link,
.contacts-list-link {
    color: var(--main-black-text);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus {
    color: var(--accent-color);
}

.nav-list-link::after {
    content:"";
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);

    border-radius: 2px;

    opacity: 0;
    transition: opacity 500ms linear;
}

.nav-list-link:hover::after {
    opacity: 1;
}

.actual.nav-list-link::after {
    opacity: 1;
}

.nav-list-link {
    position: relative;
    padding: 32px 0;
}

.actual {
    color: var(--accent-color);
}

.contacts-list-link {
    color: var(--main-text);
    display: flex;
    align-items: center;

}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}


.contacts-item:not(:last-child) {
    margin-right: 40px;

}

.contacts-list {
    display: flex;
    margin-left: auto;
}


/* MAIN */
/* HERO */

.hero {
    background-image: linear-gradient(
    to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 

    background-color: var(--main-bgc);

}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
} 

.hero-header {
    color: var(--main-white-text);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-align: center;

    width: 700px;
}

.btn {
    background-color: var(--accent-color);
    color: var(--main-white-text);
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    text-align: center; 

    border-radius: 4px;
    border-color: transparent;
    padding: 10px 32px;
    margin-top: 30px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.btn:hover,
.btn:focus {
    background-color: var(--main-white-text);
    color: var(--accent-color);
    cursor: pointer;
}

/* pluses */

.pluses {
    padding-bottom: 0;
}


.pluses-list {
    display: flex;
}

.pluses-icon-box {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.pluses-item {
    width: 270px;
}

.pluses-item:not(:last-child) {
    margin-right: 30px;
}

.pluses-list-header {
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 10px;
}

.pluses-list-text {
    font-size: 14px;
    line-height: 1.71;
}

/* WHAT WE DO */

.what-we-do-header {
    font-size: 36px;
    line-height: 1.16;

    text-align: center;

    margin-bottom: 50px;
}

.what-we-do-list {
    display: flex;
}

.what-we-do-item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do-item {
    position: relative;
}

.what-we-do-text-box {
    background-color: rgba(47, 48, 58, 0.8);

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
}

.what-we-do-text {
    color: var(--main-white-text);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

/* TEAM */

.team {
    background-color: var(--secondary-white-bgc);
}

.team-header {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;

    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-item {
    padding-bottom: 30px;
    background-color: var(--main-white-bgc);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-list-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.team-icon-item:not(:last-child) {
    margin-right: 10px;
}

.team-icon-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
    fill: currentColor;
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--main-white-text);
}

/* clients section */

.clients-header {
    font-size: 36px;
    line-height: 1.17;

    text-align: center;

    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: #AFB1B8 1px solid; 
    border-radius: 4px;
    color: #AFB1B8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.clients-icon {
    fill: currentColor;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}
 
.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}


 /* FOOTER */

footer {
    background-color: var(--main-bgc);

    padding-top: 75px;
    padding-bottom: 45px;
}

.footer-list-link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.link-map.link { 
    color: var(--main-white-text);
}

.footer-list-link:hover,
.footer-list-link:focus {
    color: var(--accent-color);
}

.footer-logo { 
    color: var(--main-white-text);

    display: inline-block;

    margin-bottom: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;

}

.footer-wrap {
    display: flex;
}

.footer-welcome {
    margin-left: 70px;
    margin-top: 12px;
}

.footer-welcome-header {
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-white-text);
    margin-bottom: 20px;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.footer-icon-item:not(:last-child) {
    margin-right: 10px;
}

.footer-icon-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--main-white-text);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: currentColor;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--accent-color);
    color: var(--main-white-text);
}

/* PORTFOLIO */
/* WORKS */


.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.btn-item {
    background-color: var(--secondary-white-bgc);
    color: var(--main-black-text);

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

    border-radius: 4px;
    padding: 6px 22px;
    border-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.btn-list-item:not(:last-child) {
    margin-right: 8px;
}


.btn-item:hover,
.btn-item:focus {
    background-color: var(--accent-color); 
    color: var(--main-white-text);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
}
 
.examples-list-header {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.examples-list-text{
    color: var(--main-text);
    font-size: 16px;
    line-height: 1.88;
}

.examples-item {
    border: 1px  #EEEEEE solid;
    width: 370px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item:not(:nth-last-of-type(-n+3)) {
    margin-bottom: 30px;
}

.examples-item:not(:nth-of-type(3n)) {
    margin-right: 30px;
}

.examples-item-wrap {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.examples-item:hover,
.examples-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-box {
    position: relative;
    overflow: hidden;

    
}

.works-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
}

.examples-item:hover .works-overlay {
    transform: translateY(0);
}

.works-overlay-text {
    color: var(--main-white-text);

    font-size: 18px;
    line-height: 1.55;
}

/* modal */

.backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    background-color: var(--main-white-bgc);
    width: 528px;
    height: 581px;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) rotate(0deg);
}

.close-btn {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--main-white-bgc);
    cursor: pointer;

    position: absolute;
    top: 8px;
    right: 8px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    fill: var(--accent-color);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-window-text {
    color: var(--main-black-text);
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}


.modal-input-box {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

}

.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
}

.modal-input-wrapper {
   position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    outline: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-black-text);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus-within {
    border-color: var(--accent-color);

}

.modal-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-icon,
.modal-input:focus-within + .modal-icon {
    fill: var(--accent-color);
}

.modal-textarea {
    height: 120px;
    padding: 12px 16px;

    resize: none;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-label {
    font-size: 14px;
    line-height: 1.71;

    display: flex;
    align-items: center;
}

.modal-link {
    color: var(--accent-color);
}

.icon-checkbox {
    width: 16px;
    height: 15px;

    border: 2px solid var(--main-black-text);
    border-radius: 2px;

    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-checkbox svg {
    fill: transparent;
}

.modal-checkbox:checked + label>span {
    background-color: var(--accent-color);
    border: none;
}

.modal-checkbox:checked + label>span svg {
    fill: var(--main-white-text)
}

.modal-send-btn {
    background-color: var(--accent-color);
    color: var(--main-white-text);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 52px;
    margin-top: 30px;
    cursor: pointer;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    transform: scale(1.1);
}

.modal-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}