.checkbox {

    &__label {

        display: flex;
        align-items: center;
    }

    &__link {
        color: $accent-color;
    }

    &__icon {
        width: 16px;
        height: 15px;

        border: 2px solid $main-black-text;
        border-radius: 2px;

        margin-right: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon svg {
        fill: transparent;
    }

    &__input:checked + label>span {
        background-color: $accent-color;
        border: none;
    }

    &__input:checked + label>span svg {
        fill: $main-white-text;
    }

    &__box {
        margin-top: 20px;
    }

}

@media screen and (max-width: 767px) {
    .checkbox {

        &__label {
            font-size: 12px;
            line-height: 1.17;
        }
    }
}

@media screen and (min-width: 768px) {
    .checkbox {

        &__label {
            font-size: 12px;
            line-height: 1.17;
        }
    }
}