.footer .contacts {

   & .footer__item:not(:last-child) {
      margin-bottom: 8px;
   }

   & .footer__link {
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      color: $footer-contacts;
   }

   & .link-map {
      color: $main-white-text;
   }
}


@media screen and ( max-width: 767px) {
   .site-header .contacts {
       display: none;
   }

   .menu-container .contacts {
      &__item:first-child {
         margin-bottom: 32px;
       }

      &__link--tel {
         color: $accent-color;
         font-weight: 500;
         font-size: 34px;
         line-height: 1.18;
         letter-spacing: 0.02em;

      }

      &__link--mail {
         color: $main-text ;
         font-weight: 500;
         font-size: 24px;
         line-height: 1.17;
         letter-spacing: 0.02em;
      }
   }

   .footer .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media screen and (min-width: 768px) {
   .contacts {
      margin-left: auto;
      margin-right: 0px;

      &__item:first-child {
         margin-bottom: 10px;
      }
  
       &__link {
          color: $main-text;
          display: flex;
          align-items: center;
      
          font-weight: 500;
          font-size: 12px;
          line-height: 1.14;  
          letter-spacing: 0.02em;
  
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }
  
       &__link:hover,
       &__link:focus {
          color: $accent-color;
       }
  
       &__icon {
          fill: currentColor;
          margin-right: 10px;
       }
   }

   .footer .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}


@media screen and (min-width: 1200px) {
   .site-header .contacts {
      display: flex;
      align-items: center;

      &__item:first-child {
         margin-right: 30px;
         margin-bottom: 0;
      }

      &__link {
         font-size: 14px;
      }

   }

   .footer .contacts {
      align-items: flex-start;
   }
}