.footer .contacts {

   & .footer__item:not(:last-child) {
      margin-bottom: 8px;
   }

   & .footer__link {
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      color: $footer-contacts;
   }

   & .link-map {
      color: $main-white-text;
   }
}


@media screen and ( max-width: 767px) {
   .site-header .contacts {
       display: none;
   }

   .menu-container .contacts {
      &__item:first-child {
         margin-bottom: 32px;
       }

      &__link--tel {
         color: $accent-color;
         font-weight: 500;
         font-size: 34px;
         line-height: 1.18;
         letter-spacing: 0.02em;

      }

      &__link--mail {
         color: $main-text ;
         font-weight: 500;
         font-size: 24px;
         line-height: 1.17;
         letter-spacing: 0.02em;
      }
   }

   .footer .contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}