.footer {
    background-color: $main-bgc;

    padding-top: 75px;
    padding-bottom: 45px; 

    &__wrap {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
}