.navigation {
    display: flex;
    align-items: center; 

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    
}

.navigation__link {
    position: relative;

    padding: 32px 0;

    color: $main-black-text;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &::after {
        content:"";
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: $accent-color;

        border-radius: 2px;

        opacity: 0;
        transition: opacity 500ms linear;
    }

    &:hover::after {
        opacity: 1;
    }

    
}

.actual {
    color: $accent-color;

    &.navigation__link::after {
        opacity: 1;
    }
}

