.site-header {
    border-bottom: 1px $header-border solid;
}

@media screen and (max-width: 767px) {
    .site-header .container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .site-header .container {
        display: flex;

    }

    .site-header {
        padding: 21px 0;
    }
}

@media screen and (min-width: 1200px) {
    .site-header {
        padding: 24px 0 25px 0;
    }
}
