$main-white-bgc: #FFFFFF;
$main-bgc: #2F303A;
$secondary-white-bgc: #F5F4FA;
    
$accent-color: #2196F3;
    
$logo-black: #000000;
$main-black-text:  #212121;
$main-white-text:  #FFFFFF;
$main-text: #757575;

$header-border: #ECECEC;

$bgc-icon-box: #F5F4FA;

$bgc-text-box :rgba(47, 48, 58, 0.8);

$websites-icon: #AFB1B8;

$footer-contacts: rgba(255, 255, 255, 0.6);
$footer-websites: rgba(255, 255, 255, 0.1);
$footer-border: rgba(255, 255, 255, 0.3);

$overlay: rgba(33, 150, 243, 0.9);
$backdrop:rgba(0, 0, 0, 0.2);
$modal: rgba(33, 33, 33, 0.2);
$textarea: rgba(117, 117, 117, 0.5);